@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");

:root {
  /* colors */
  --clr-primary-100: hsl(0, 0%, 100%);
  --clr-primary-400: hsl(231, 69%, 60%);
  --clr-primary-500: hsl(0, 94%, 66%);

  --clr-neutral-700: hsl(229, 8%, 60%);
  --clr-neutral-800: hsl(229, 31%, 21%);

  /* font family */
  --ff-primary: "Rubik", sans-serif;
  --ff-secondary: "Rubik", sans-serif;

  --ff-body: var(--ff-primary);

  /* font weight */
  --fw-regular: 400;
  --fw-medium: 500;

  /* font size */
  --fs-300: 0.875rem;
  --fs-400: 1rem;
  --fs-500: 1.125rem;
  --fs-600: 1.25rem;
  --fs-700: 1.5rem;
  --fs-800: 1.875rem;
  --fs-900: 2.75rem;

  --fs-button: var(--fs-300);
  --fs-body: var(--fs-400);
  --fs-nav: var(--fs-600);
  --fs-secondary-heading: var(--fs-700);
  --fs-primary-heading: var(--fs-800);

  /* --vh: 0; */
}

@media (min-width: 50em) {
  :root {
    --fs-nav: var(--fs-300);
    --fs-body: var(--fs-500);
    --fs-secondary-heading: var(--fs-800);
    --fs-primary-heading: var(--fs-900);
  }
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, 
which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: var(--ff-body);
  width: 100%;
}

body.menu-open {
  overflow: hidden;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* ? utility classes */

.text-primary-100 {
  color: var(--clr-primary-100);
}

.text-primary-400 {
  color: var(--clr-primary-400);
}

.text-primary-500 {
  color: var(--clr-primary-500);
}

.text-neutral-700 {
  color: var(--clr-neutral-700);
}

.text-neutral-800 {
  color: var(--clr-neutral-800);
}

.bg-primary-100 {
  background-color: var(--clr-primary-100);
}

.bg-primary-400 {
  background-color: var(--clr-primary-400);
}

.bg-primary-500 {
  background-color: var(--clr-primary-500);
}

.bg-neutral-700 {
  background-color: var(--clr-neutral-700);
}

.bg-neutral-800 {
  background-color: var(--clr-neutral-800);
}

.fw-regular {
  font-weight: var(--fw-regular);
}

.fw-medium {
  font-weight: var(--fw-medium);
}

.fs-primary-heading {
  font-size: var(--fs-primary-heading);
}

.fs-secondary-heading {
  font-size: var(--fs-secondary-heading);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-600 {
  font-size: var(--fs-600);
}

/* ? html styling */

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1114px;
}

@media (min-width: 900px) {
  .container {
    width: 75%;
  }
}

/* ! buttons */
.button {
  font-size: var(--fs-button);
  border: none;
  color: var(--clr-primary-100);
  cursor: pointer;
  width: 120px;
  border-radius: 5px;
  height: 40px;
  font-weight: var(--fw-medium);
}

.button--darktext {
  color: var(--clr-neutral-800);
}

.button:hover {
  background-color: transparent;
  border: 1px solid var(--clr-primary-400);
  color: var(--clr-primary-400);
}

.btn--red:hover {
  border: 1px solid var(--clr-primary-500);
  color: var(--clr-primary-500);
}

.button--darktext:hover {
  background-color: transparent;
  color: var(--clr-neutral-800);
  border: 1px solid;
}

/* ! header */

.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* height: 12%; */
  height: 80px;
}

.primary-navigation {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--clr-primary-100);
  width: 100%;
  display: flex;
  align-items: center;
  transition: height 0.4s ease-in-out;
  /* ! menu closed defaults */
  height: 0;
  visibility: hidden;
  opacity: 0;
  z-index: 1999;
}

.nav-list {
  display: flex;
  flex-direction: column;
  gap: 1.25em;
  width: 85%;
  margin: 0 auto;
}

.primary-navigation.is-enabled .nav-list-item {
  animation: fadefromLeft 0.95s ease-out;
}

@keyframes fadefromLeft {
  0%,
  60%,
  75%,
  90%,
  100% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    transform: translate3d(-3000px, 0, 0);
  }
  60% {
    transform: translate3d(25px, 0, 0);
  }
  75% {
    transform: translate3d(-10px, 0, 0);
  }
  100% {
    transform: translate3d(5px, 0, 0);
  }
}

.nav-list-item-link {
  font-size: var(--fs-nav);
  text-decoration: none;
  text-transform: uppercase;
  color: var(--clr-neutral-800);
}

.nav-list-item-link:hover,
.nav-list-item-link:focus {
  opacity: 0.8;
  color: var(--clr-primary-500);
}

@media (min-width: 900px) {
  .primary-navigation {
    position: relative;
    visibility: visible;
    height: fit-content;
    opacity: 1;
    background-color: transparent;
    width: auto;
    transition: none;
  }

  .nav-list {
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: fit-content;
    gap: 2.5em;
  }

  .nav-list-item:nth-of-type(4) {
    margin-right: 60px;
  }
}

.header__logo {
  fill: black;
}

/* ! HERO */

.hero {
  width: 100%;
  overflow: hidden;
}

.hero__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding-top: 2em;
  padding-bottom: 5em;
  height: fit-content;
}

.hero .col {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.hero-img-container {
  position: relative;
  height: auto;
  z-index: 0;
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 2em;
}

.hero-img-container::before {
  content: "";
  position: absolute;
  right: -5%;
  background-color: var(--clr-primary-400);
  width: 85%;
  height: 80%;
  border-bottom-left-radius: 35%;
  z-index: -1;
  bottom: -5%;
}

.hero__img {
  width: 100%;
  height: auto;
}

.hero__buttons {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  gap: 1em;
}

.hero__buttons > .button {
  width: 40%;
  height: 40px;
}

.hero__heading,
.hero__subheading {
  animation: fadeInHeadings 0.85s ease-in-out;
}

@keyframes fadeInHeadings {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media (min-width: 1150px) {
  .hero__container {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    padding-bottom: 2em;
  }

  .hero .col {
    height: 100%;
    justify-content: center;
  }

  .hero .col:first-of-type {
    width: 130%;
    margin-top: 2em;
  }

  .hero-img-container {
    width: 120%;
    max-width: 100%;
    margin: none;
    margin-left: 8em;
  }

  .hero__buttons {
    margin-top: 1em;
    display: flex;
    justify-content: flex-start;
    gap: 1em;
  }

  .hero-img-container::before {
    right: -25%;
    height: 80%;
    top: 28%;
  }
}

/* ! FEATURES */

.features {
  padding-top: 2em;
  padding-bottom: 4em;
}

.features__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3em;
}

.features__text {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1em;
}

.slider__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1.5em;
}

.slider__item {
  border-top: 1px solid var(--clr-neutral-700);
  text-align: center;
  color: var(--clr-neutral-700);
}

.slider__item:hover {
  color: var(--clr-primary-500);
  cursor: pointer;
}

.slider__item:last-of-type {
  border-bottom: 1px solid var(--clr-neutral-700);
}

.slider__title {
  position: relative;
  padding: 1em;
  width: 100%;
}

.slider__title.slider-item--enabled {
  color: var(--clr-primary-500);
}

.slider__title.slider-item--enabled::before {
  content: "";
  position: absolute;
  width: 50%;
  border-bottom: 5px solid var(--clr-primary-500);
  bottom: -1px;
  left: 25%;
  right: 25%;
  z-index: 1;
}

.slider-content-item {
  display: none;
}

.slider-content-item.slider-show {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5em;
}

.slider__col {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.slider__col .button {
  margin-top: 1em;
}

.slider-img-container {
  max-width: 500px;
  margin: 0 auto;
  width: 95%;
  position: relative;
}

.slider-img-container::before {
  content: "";
  position: absolute;
  left: -10%;
  background-color: var(--clr-primary-400);
  width: 95%;
  height: 100%;
  border-bottom-right-radius: 30%;
  z-index: -1;
  top: 17%;
}

@media (min-width: 950px) {
  .features {
    padding-top: 4em;
    padding-bottom: 8em;
  }

  .features__text {
    max-width: 500px;
  }

  .slider__container {
    max-width: 800px;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 1.5em;
    justify-content: center;
    gap: 4em;
    border-bottom: 1px solid var(--clr-neutral-700);
  }

  .slider__item {
    border-top: none;
    width: 33%;
  }

  .slider__title.slider-item--enabled::before {
    width: 100%;
    left: 0;
    right: 0;
  }

  .slider__item:last-of-type {
    border-bottom: none;
  }

  .slider-content-item.slider-show {
    flex-direction: row;
    text-align: left;
  }

  .slider__col {
    width: 47%;
    align-items: flex-start;
  }

  .slider-img-container::before {
    left: -52%;
    width: 98%;
    height: 100%;
  }
}

/* ! extensions */

.extensions {
  padding: 5em 0em;
}

.extensions__heading,
.extensions__subheading {
  text-align: center;
}

.extension__container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.all-extensions {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  width: 100%;
}

.extension {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 2em 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  border-radius: 10px;
  width: 80%;
}

.extension__version {
  margin-top: -0.5em;
  margin-bottom: 1em;
}

.extension .button {
  height: 40px;
  width: 100%;
}

@media (min-width: 1150px) {
  .extension__container {
    width: 65%;
  }

  .extensions__subheading {
    max-width: 500px;
    margin: 0 auto;
  }

  .all-extensions {
    flex-direction: row;
    margin-top: 3em;
    align-items: flex-start;
    height: 400px;
  }

  .extension:nth-child(2) {
    align-self: center;
  }

  .extension:nth-child(3) {
    align-self: flex-end;
  }
}

/* ! faq */

.faq {
  padding: 4em 0em;
  padding-bottom: 7em;
}

.faq__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
}

.faq__container .button {
  margin-top: 2em;
}

.faq__heading,
.faq__subheading {
  text-align: center;
}

.all-questions {
  width: 100%;
}

.question {
  display: flex;
  flex-direction: column;
  gap: 2.5em;
  padding: 1.25em 0em;
  border-bottom: 1px solid var(--clr-neutral-700);
  cursor: pointer;
}

.question:hover .question-label {
  color: var(--clr-primary-500);
}

.question-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question-answer {
  display: none;
}

.question-answer.enabled {
  display: block;
}

.question-arrow {
  stroke: var(--clr-primary-400);
}

.question-arrow.enabled {
  transform: rotate(180deg);
  fill: var(--clr-primary-500);
  stroke: var(--clr-primary-500);
}

@media (min-width: 900px) {
  .faq__container {
    max-width: 600px;
  }

  .all-questions {
    margin-top: 2em;
  }
}

/* ! newsletter */

.newsletter {
  padding: 3em 0em;
}

.newsletter__container {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.newsletter-cta {
  letter-spacing: 0.2em;
}

.newsletter__form {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.newsletter-input {
  height: 50px;
  border-radius: 5px;
  border: none;
  padding: 1em;
}

.newsletter__form .button {
  width: 100%;
  height: 50px;
}

.newsletter__form .button:hover {
  background-color: var(--clr-primary-100);
  border: none;
}

@media (min-width: 900px) {
  .newsletter {
    padding: 5em 0em;
  }

  .newsletter__form {
    flex-direction: row;
    justify-content: center;
  }

  .newsletter-input {
    width: 30%;
  }

  .newsletter__form .button {
    width: 10%;
  }
}

/* ! footer */

.footer {
  padding: 3.5em 0em;
  position: relative;
}

.footer__container {
  display: flex;
  flex-direction: column;
  gap: 2.5em;
}

.footer__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5em;
}

.footer__nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
}

.footer__nav-list-item-link {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.footer__nav-list-item-link:hover {
  color: var(--clr-primary-500);
}

.footer__socials-list {
  display: flex;
  gap: 2em;
  align-items: center;
  justify-content: center;
}

.social-img {
  fill: var(--clr-primary-100);
}

.social-img:hover {
  fill: var(--clr-primary-500);
}

.scrollupBtn {
  position: absolute;
  right: 10%;
  bottom: 12%;
  border-radius: 50rem;
  border: 1px solid transparent;
  background-color: var(--clr-primary-400);
  padding: 0.2em;
  cursor: pointer;
}

.scrollupBtn:hover {
  background-color: transparent;
  border: 1px solid var(--clr-primary-400);
}

.scrollupBtn.active {
  animation: fadeInHeadings 0.85s normal forwards;
}

@media (min-width: 900px) {
  .footer {
    padding: 3em 0em;
  }
  .footer__container {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer__left {
    flex-direction: row;
    gap: 4em;
  }

  .footer__nav-list {
    flex-direction: row;
  }

  .footer__nav-list-item-link {
    font-size: var(--fs-300);
  }

  .scrollupBtn {
    position: absolute;
    right: 5%;
    bottom: 32%;
  }
}

/* =========== 
! LIGHT AND DARK MODES
========= */

.top-dark-mode-button {
  position: absolute;
  top: 1.4em;
  right: 4.5em;
  z-index: 100001;
  transition: all 0.3s ease;
  cursor: pointer;
}

.dark-mode-button {
  background: 0 0;
  border: none;
  height: 2.2em;
  width: 2.2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dark-mode-button svg {
  display: block;
  width: 1.8em;
  height: 1.8em;
  position: absolute;
}

.top-dark-mode-button .moon {
  transform: translateY(0);
  transition: 0.3s ease;
  opacity: 1;
  visibility: visible;
}

.top-dark-mode-button .sun {
  transform: translateY(-80px);
  transition: 0.3s ease;
  opacity: 0;
  visibility: hidden;
}

@media (min-width: 900px) {
  .dark-mode-button {
    right: 7%;
    top: 1.55em;
    top: 1.4em;
  }
}

/* =========== 
! MENU BTNS
=========== */
.header__hamburger {
  display: inline-block;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  position: relative;
  z-index: 2000;
}

.header__hamburger:hover,
.header__hamburger.is-active:hover {
  opacity: 0.5;
  cursor: pointer;
}

.header__hamburger-box {
  width: 30px;
  height: 24px;
  display: inline-block;
  position: relative;
  z-index: 3000;
}

.header__hamburger-inner {
  display: block;
  top: 50%;
  margin-top: 1.5px;
}

.header__hamburger-inner,
.header__hamburger-inner::after,
.header__hamburger-inner::before {
  width: 30px;
  height: 2.5px;
  background-color: black;
  border-radius: 4px;
  position: absolute;
}

.header__hamburger-inner::after,
.header__hamburger-inner::before {
  content: "";
  display: block;
}

.header__hamburger-inner::before {
  top: -10px;
}

.header__hamburger-inner::after {
  bottom: -10px;
}

.header__hamburger--spring .header__hamburger-inner {
  top: 2px;
  transition: background-color 0s 0.13s linear;
  transition-delay: 0.22s;
}

.header__hamburger--spring .header__hamburger-inner::before {
  top: 10px;
  transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
    transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition-delay: 0.22s;
}

.header__hamburger--spring .header__hamburger-inner::after {
  top: 20px;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
    transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.header__hamburger--spring.is-active .header__hamburger-inner {
  transition-delay: 0.22s;
  background-color: transparent;
}

.header__hamburger--spring.is-active .header__hamburger-inner::before {
  top: 0;
  transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
    transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translate3d(0, 10px, 0) rotate(45deg);
}

.header__hamburger--spring.is-active .header__hamburger-inner::after {
  top: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
    transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1),
    -webkit-transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translate3d(0, 10px, 0) rotate(-45deg);
}

@media (min-width: 900px) {
  .header__hamburger,
  .header__hamburger-box,
  .header__hamburger-inner {
    display: none;
  }
}
